#sheet-img {
    width: 100%;
    height: 100%;
}

#character-sheet {
    width: 711px;
    height: 920px;
}

#sheet-image-container {
    width: 711px;
    height: 920px;
    
    background-image: url("./../img/sheet-5e.jpg");
    background-size: contain;

    z-index: -1;

    position: absolute;
}

#fields-container {
    width: 711px;
    height: 920px;

    /* background-color: rgba(255, 0, 255, 0.5); */
    z-index: 0;

    position: absolute;

    display: flex;
    flex-direction: column;
}

#top-bar-container {
    width: 650px;
    height: 100px;
    margin-left: 30px;
    margin-top: 20px;

    /* background-color: rgba(0, 255, 0, 0.5); */
}

.top-row-container {
    width: 650px;
    height: 33px;

    display: flex;
    flex-direction: row;

    /* background-color: rgba(127, 0, 0, 0.5); */

}

input {
    /* background-color: rgba(0, 0, 255, 0.5); */
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}

.char-top-top {
    margin-top: 15px;
    height: 11px;
    font-size: 10px;
}

#char-name {
    margin-left: 15px;
    width: 80px;
}

#char-class {
    margin-left: 5px;
    width: 60px;
}

#char-level {
    margin-left: 12px;
    width: 40px;
}

#char-race {
    margin-left: 20px;
    width: 80px;
}

#char-subrace {
    margin-left: 10px;
    width: 80px;
}

#char-current-xp {
    margin-left: 22px;
    width: 80px;
}

#char-xp-levelup {
    margin-left: 25px;
    width: 80px;
}

.char-top-mid {
    height: 11px;
    font-size: 10px;
    margin-top: 12px;
}

#char-background {
    margin-left: 15px;
    width: 80px;
}

#char-alignment {
    margin-left: 5px;
    width: 72px;
}

#char-religion {
    margin-left: 5px;
    width: 100px;
}

#char-languages {
    margin-left: 15px;
    width: 300px;
}

.char-top-low {
    height: 11px;
    font-size: 10px;
    margin-top: 6px;
}

#char-size {
    margin-left: 15px;
    width: 70px;
}

#char-gender {
    margin-left: 5px;
    width: 70px;
}

#char-age {
    margin-left: 10px;
    width: 60px;
}

#char-height {
    margin-left: 7px;
    width: 60px;
}

#char-weight {
    margin-left: 20px;
    width: 60px;
}

#char-eyes {
    margin-left: 25px;
    width: 70px;
}

#char-hair {
    margin-left: 8px;
    width: 65px;
}

#char-skin {
    margin-left: 8px;
    width: 60px;
}

#main-block-container {
    width: 650px;
    height: 780px;

    margin-left: 30px;
    margin-top: 10px;

    /* background-color: rgba(255, 0, 0, 0.5); */

    display: flex;
    flex-direction: row;
}

#left-statblock {
    height: 780px;
    width: 210px;

    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 255, 0.5);
}

.left-statblock-object {
    width: 210px;
    background-color: rgba(0, 0, 255, 0.5);
}

#inspiration-container {
    margin-top: 10px;
    height: 29px;
}

#char-inspiration {
    margin-left: 25px;
    height: 29px;
    width: 34px;
    font-size: 20px;
    text-align: center;
}

#proficiency-mod-container {
    height: 24px;
    margin-top: 7px;
}

#char-proficiency {
    margin-left: 25px;
    height: 24px;
    width: 34px;
    text-align: center;
}

#strength-block-container
{
    height: 70px;
    margin-top: 11px;
}